.property-details {
  padding-left: 7.2rem;
  padding-right: 8rem;
}
/* 
  .page-wrapper{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-content: flex-start;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
   } 

  .property-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  } */


  /* Property Card CSS  */

  /* .property-card {
    display: flex;
    max-width: 1100px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 2px rgb(0 0 0 / 5%); 
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 5%);
    
  } */
/* 
  .featured-image-container {
    position: relative;
    margin-right: 15px;
  } */
/* 
  .property-card-featured-image {
    min-height: 275px;
    max-width: 375px;
    object-fit: cover ;
    height: 100%;
  } */

  .property-card-rest{
    flex-direction: column;
  }


/* Search options column */

.search-options{ 
  width:25%;
  border: 2px solid blue;
  margin-right: 1.1rem;
}



/* TEST 2 area */

.btn-rounded  {
  border-radius:1.25rem
}

.mulish-400 {
  font-family: 'Mulish', sans-serif;
}

.font-50{
  font-size: 65px;
  color: #000000;
}

.property-title {
  text-transform: uppercase;
  margin-bottom: 0.938rem; 
}

.font-property-desc {
  font-size: 1.125rem;
  line-height: 1.625;
  font-weight: 400;
}

.property-town-font {
  font-weight: 600;
  font-size: 1.125rem;
  padding-left: 10px;
  text-transform: uppercase;
}

.property-image {
  object-fit:cover; 
  position: relative; 
  width: 100%; 
  height: 100%;
}

.property-price-inner {

  font-size: 1.125rem;
  font-weight: bold;
}

.price {
  display: flex;
  justify-content: space-between;
}