
/* 
  .page-wrapper{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    align-content: flex-start;
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
   } 

  .property-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
  } */


  /* Property Card CSS  */

  .property-card {
    display: flex;
    /* max-width: 1100px; */
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 5px 2px rgb(0 0 0 / 5%); 
    box-shadow: 0 0 5px 2px rgb(0 0 0 / 5%);
    
  }

  .featured-image-container {
    position: relative;
    margin-right: 15px;
  }

  .property-card-featured-image {
    min-height: 275px;
    max-width: 375px;
    object-fit: cover ;
    height: 100%;
  }

  .price {
    height: 3.5rem;
    display: flex;
    align-items: center;
  }

  .property-price-inner {
    padding-left: 15px;
    font-size: medium;
    font-weight: bold;
  }
  .property-card-rest{
    flex-direction: column;
  }
  .property-title {
    text-transform: capitalize;
  }
  .property-desc{

  }

/* Search options column */

.search-options{ 
  width:25%;
  border: 2px solid blue;
  margin-right: 1.1rem;
}