   
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}
{% block extra_title %}Home{% endblock %}
{% block content %}
  <div class="content-container">
    <h1>Start your property search</h1>
    <div class="search-bar-container">
      <div class="propertTyoe-dropDown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="property-type-dropdown" data-bs-toggle="dropdown" aria-expanded="false" title=" Property Types">
          Property Types
        </button>
        <ul class="dropdown-menu" aria-labelledby="property-type-dropdown">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="minPrice-dropDown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="minPrice-dropdown-btn" data-bs-toggle="dropdown" aria-expanded="false" title=" Min Price">
          Min Price
        </button>
        <ul class="dropdown-menu" aria-labelledby="minPrice-dropdown-btn">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>


      </div>
    </div>
  </div>
{% endblock %}

{% block postloadjs %}
{% endblock %} 