.holder-nav{
    background-color: red;
} 

h1{
    color: black;
}

.content-container{
    margin-top:100px;
    text-align: center;
    background-color: blueviolet;
}

.search-bar-container{
     margin: 30px;
     background-color: blanchedalmond;
     display: flex;
     justify-content: space-around;

}

.image-container-landing{
    background: url(https://infinity-casas-property-bucket.s3.eu-west-3.amazonaws.com/static/website-images/xCalella-de-Palafrugell-Catalonia-Spain-2400x1600.jpg.pagespeed.ic.E6UJUACeMw.webp) 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 80px;
    min-height: 100vh;
}

.home-info {
    min-height: 100vh;
}