{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'properies/css/properties.css' %}">
{% endblock %}

{% block title %}
New Project
{% endblock %}
{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold">Add New Property</h1>
        <div class="col-lg-6 mx-auto">
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

            <form id="post_form" method="post" action="" enctype="multipart/form-data">
              {% csrf_token %}
              {% for form in fullForm %}
                <p class="label-class">{{ form.label }}</p>{{ form }}<br><br>
              {% endfor %}
              <h2> Extra Property Images</h2>
              {{ imageForm.management_form }}
              {% for test in imageForm %}
                  {{ test }}
              {% endfor %}
              <input type="submit">
            </form>

          </div>
        </div>
      </div>
{% endblock %}