{% extends 'base.html' %}
{% block content %}
    <H1 style="margin-top: 200px; color: black;"> TEST  DATA </H1>
    <form  method="GET" action="{% url 'all-properties' %}" class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search our properties..." name="q" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div class="properties-found">
        <h5> {{ property_count }} Properties found</h5>
    </div>
    {% for property in properties %}
        <h2>{{ property.title }}</h2>
        <img src="{{ property.image.url }}" alt="peoperty-head-image">
    {% endfor %}
{% endblock content %}