{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'properies/css/properties.css' %}">
{% endblock %}

{% block content %}
    <H1 style="margin-top: 200px; color: black;"> TEST  DATA </H1>
    <form  method="GET" action="{% url 'all-properties' %}" class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search our properties..." name="q" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div class="properties-found">
        <h5> {{ property_count }} Properties found</h5>
    </div>

    <!-- <container class="page-wrapper"> -->
        <!-- <div class="property-container">
            {% for property in properties %}
                <div class="property-card">
                    <div class="featured-image-container">
                        <img class="property-card-featured-image" src="{{ property.image.url }}" alt="property-head-image">
                        <div class="price"><p class="property-price-inner"> {{ property.price }} {{property.currency}}</p></div>
                    </div>
                    <div class="property-card-rest">
                        <h2 class="property-title">{{ property.title }}</h2>
                        <div class="icon-container">
                            <i class="fa-solid fa-bed" style="padding-right: 5px;" >: {{property.Beds}} </i>
                            <i class="fa-solid fa-toilet">: {{property.bathrooms}}</i>
                        </div>
                        <p class="property-desc">{{property.desc}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="search-options">
            <div class="locations">

            </div>
        </div> -->
    <!-- </container>  -->


    <!-- TEST 1 -->
    <!-- <div class="container">
        <div class="row">
            <div class="col col-lg-8 border border-success">
                {% for property in properties %}
                    <div class="property-card mb-5">
                        <div class="featured-image-container">
                            <img class="property-card-featured-image" src="{{ property.image.url }}" alt="property-head-image">
                        </div>
                        <div class="property-card-rest pl-4 pt-3">
                            <h2 class="property-title">{{ property.title }}</h2>
                            <div class="icon-container">
                                <i class="fa-solid fa-bed" style="padding-right: 5px;" >: {{property.Beds}} </i>
                                <i class="fa-solid fa-toilet">: {{property.bathrooms}}</i>
                                
                            </div>
                            <p class="property-desc">{{property.desc}}</p>
                            <div class="price"><p class="property-price-inner"> {{ property.price }} {{property.currency}}</p></div>

                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col col-lg-3 offset-lg-1 ml-1 border border-danger">
                <div class="search-options">
                    <div class="locations">
        
                    </div>
                </div> 
            </div>
        </div>
    </div> -->

    <!-- TEST 2 -->

    <div class="container-fluid m-0 p-0">
        {% for property in properties %}
            <div class="row m-0" style="height: 40.75rem;">
                <div class="col-6 p-0">
                    <img class="property-image" src="{{ property.image.url }}" alt="main-property-image">
                </div>
                <div class="col-6 p-0 mt-3">
                    <div class="property-details">
                        <div class="feature-container pt-3 mb-4">
                            <button class="btn btn-rounded btn-danger">For Sale</button>
                        </div>
                            <h1 class="property-title fw-bold mulish-400 font-50">{{ property.title }}</h1>
                            <i class="fa-solid fa-location-dot mb-4"> 
                                <span class="mulish-400 property-town-font">{{ property.town }}</span>
                            </i>
                            <div class="icon-container mb-5">
                                <i class="fa-solid fa-bed" style="padding-right: 5px;" >: {{property.Beds}} </i>
                                <i class="fa-solid fa-shower">: {{property.bathrooms}}</i>
                            </div>
                            <p class="property-desc mulish-400 font-property-desc mb-5">{{property.desc}}</p>
                            <div class="price">
                                <p class="property-price-inner"> {{ property.price }} {{property.currency}}</p>
                                <p class="ref-number"> Ref: {{ property.ref }}</p>
                            </div>
                            <div class="go-to-property">
                                <a href="" class="property-link"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %} 