{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'properies/css/properties.css' %}">
{% endblock %}

{% block content %}
    <H1 style="margin-top: 200px; color: black;"> TEST  DATA </H1>
    <form  method="GET" action="{% url 'all-properties' %}" class="form-inline">
        <input class="form-control mr-sm-2" type="text" placeholder="Search our properties..." name="q" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div class="properties-found">
        <h5> {{ property_count }} Properties found</h5>
    </div>
    <div class="property-container">
        {% for property in properties %}
            <div class="property-card">
                <div class="featured-image-container">
                    <img class="property-card-featured-image" src="{{ property.image.url }}" alt="peoperty-head-image">
                </div>
                <div class="property-card-rest">
                    <h2 class="property-title">{{ property.title }}</h2>
                    <div class="icon-container">
                        <i class="fa-solid fa-bed" style="padding-right: 5px;" >: {{property.Beds}} </i>
                        <i class="fa-solid fa-toilet">: {{property.bathrooms}}</i>
                    </div>
                    <p class="property-desc">{{property.desc}}</p>
                </div>
                

            </div>
        {% endfor %}
    </div>
{% endblock content %}